@using FYPfinalWEBAPP.Controllers;
@using FYPfinalWEBAPP.Models;

@model List

<div class="container">

    <div class="my-3">
        <h2>Add Listing</h2>
    </div>

    <form method="post"
          asp-controller="Listing"
          asp-action="Create"
          enctype="multipart/form-data">

        <div class="col-md-5 mb-3 form-floating">
            <input type="text" asp-for="FoodName" class="form-control"
                   placeholder="Food Name" />
            <label asp-for="FoodName">Food Name</label>
        </div>

        <div class="col-md-4 mb-3 form-floating">
            <input type="text" asp-for="Brand" class="form-control"
                   placeholder="Brand" />
            <label asp-for="Brand">Brand</label>
        </div>

        <div class="col-md-3 mb-3 form-floating">
            <input type="date" asp-for="ExpiryDate" class="form-control"
                   placeholder="Expiry Date" />
            <label asp-for="ExpiryDate">Expiry Date</label>
        </div>

        <div class="row">
            <div class="col-md-3 mb-3 form-floating">
                <input type="number" asp-for="Quantity" class="form-control"
                       placeholder="Quantity" />
                <label asp-for="Quantity" class="ps-4">Quantity</label>
            </div>

            <div class="col-md-3 mb-3 form-floating">
                <input type="number" asp-for="Cost" class="form-control"
                       placeholder="Cost for one ($)" />
                <label asp-for="Cost" class="ps-4">Cost for one ($)</label>
            </div>
        </div>

        <div class="col-md-8 mb-3 form-floating">
            <textarea asp-for="Description" class="form-control" style="height: 100px"
                      placeholder="Add description here"></textarea>
            <label asp-for="Description">Description</label>
        </div>

        <div class="col-md-5 mb-3 form-floating">
            <input type="tel" asp-for="HPno" class="form-control"
                   placeholder="Handphone Number" />
            <label asp-for="HPno" class="ps-4">Handphone Number</label>
        </div>

        <div class="col-6 mb-3">
            <label asp-for="Photo">Add an image</label>
            <input asp-for="Photo" type="file" class="mb-3 form-control"
                   onchange="preview()" >
            <img class="d-none" style="max-height:250px;" id="frame" src="" />
        </div>

        <div class="form-group row">
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>

        @if (ViewData["Message"] != null)
        {
            <div class="form-group row">
                <div class="col-6">
                    <div class="alert alert-@ViewData["MsgType"]">
                        <b>Message: </b>@ViewData["Message"]<br />
                        @if (!String.IsNullOrEmpty(ViewData["ExecSQL"]?.ToString()))
                        {
                            <b>SQL: </b>

                            @ViewData["ExecSQL"]?.ToString()
                        }
                    </div>
                </div>
            </div>
        }

    </form>
</div>

<script>
    function preview() {
        document.getElementById("frame").className="d-md-block";
        frame.src = URL.createObjectURL(event.target.files[0]);
    }

    function clearImage() {
        document.getElementById('formFile').value = null;
        frame.src = "";
        document.getElementById("frame").className="d-none d-md-block";
    }
</script>
