@using FYPfinalWEBAPP.Controllers;
@using FYPfinalWEBAPP.Models;

@model List

<div class="container">

    <div class="my-3">
        <h2>@Model.FoodName</h2>
    </div>

    <div class="mb-3">
        <div class="col-md-5">
            <img id="ImgPhoto" src="~/images/@Model.Picture" style="height:350px;" />
        </div>
    </div>

    <div class="col-md-4 mb-3 form-floating">
        <input type="text" asp-for="Brand" class="form-control"
               readonly />
        <label asp-for="Brand">Brand</label>
    </div>

    <div class="col-md-3 mb-3 form-floating">
        <input type="date" asp-for="ExpiryDate" class="form-control"
               readonly />
        <label asp-for="ExpiryDate">Expiry Date</label>
    </div>

    <div class="row">
        <div class="col-md-3 mb-3 form-floating">
            <input type="number" asp-for="Quantity" class="form-control"
                   readonly min="1" />
            <label asp-for="Quantity" class="ps-4">Quantity</label>
        </div>

        <div class="col-md-3 mb-3 form-floating">
            <input type="number" asp-for="Cost" class="form-control"
                   readonly min="1" step="0.01" />
            <label asp-for="Cost" class="ps-4"> Cost for one ($)</label>
        </div>
    </div>

    <div class="col-md-8 mb-3 form-floating">
        <textarea asp-for="Description" class="form-control" style="height: 130px" readonly min="1">
        </textarea>
        <label asp-for="Description">Description</label>
    </div>

    <div class="col-md-4 mb-3 form-floating">
        <input type="text" asp-for="SubmittedBy" class="form-control"
               readonly />
        <label asp-for="SubmittedBy">Submitted by</label>
    </div>

</div>

