@using FYPfinalWEBAPP.Controllers;
@using FYPfinalWEBAPP.Models;

@model UserLogin

<div class="container">
    <div class="my-3">
        <h2>Please sign-in</h2>
    </div>

    <form method="post" asp-controller="Account" asp-action="Login">
        <div class="col-md-4 mb-3 form-floating">
            <input type="text" asp-for="UserID" class="form-control"
                   placeholder="userid" required />
            <label asp-for="UserID">User ID</label>
        </div>

        <div class="col-md-4 mb-3 form-floating">
            <input type="password" asp-for="Password" class="form-control"
                   placeholder="password" required />
            <label asp-for="Password">Password</label>
        </div>

        <div class="col-auto mb-3">
            <span class="text-danger">@ViewData["Message"]</span>
        </div>

        <div class="col-auto mb-3">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
</div>

